body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


/* Primary Color/Primary Text */

color: #394867;

margin-bottom: 0px;

}

.container{
    margin: 0px 120px;
}

.sidenav span a{
    color: #4773CC;
}


p{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 180.3%;
/* or 29px */

letter-spacing: 0.02em;

color: #748199;
}

.sidenav {
    width: 16%;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;

    background: #FFFFFF;
border: 1px solid #4773CC;
box-sizing: border-box;
box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.12);
border-radius: 8px;
  }
  
  .sidenav a {
    padding: 8px 24px;
    text-decoration: none;
    font-size: 16px;
    color: #394867;
    display: block;
  }
  
  .sidenav a:hover {
    color: #4773CC;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .overview{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }


  #problem{
      height: 100vh;
  }